<div class="container" style="margin-top: 70px">

  <ng-container *ngIf="!review_loaded">
    Loading
  </ng-container>

  @for ( review of reviews_list; track review.title ) {

    <div class="row">
      <div class="col-sm-12">
        <div class="display-1">
          {{ review.title }}
          <button class="btn btn-danger"
                  type="submit"
                  (click)="onDelete()"
                  style="margin-top: 20px">Delete</button>
          <button class="btn btn-primary me-2" (click)="modalService.open('edit-modal')">Edit</button>
        </div>
        <span *ngFor="let star of [].constructor(review.rating)">
          <img src="images/star.png" style="width:30px; height:30px">
        </span>
        <span *ngIf="review.edited" >
          Edited: {{ review.modifiedTime }}
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        The body text is:
        {{ review.body }}
      </div>
      <div class="col sm-6 text-center">
        <img src='{{ baseBlobUrl + review.filePath }}' width='400'/>
      </div>
    </div>

    <modal id="edit-modal" class="text-black">
      <div class="container" style="margin-top: 50px;">
        <div class="row">
          <div class="col-sm-12">
            <h2>Edit a review</h2>
            <form [formGroup]="editForm"
                  (ngSubmit) = "onEdit()">
              <div class="form-group">
                <label for="title">
                  Title of review</label>
                <textarea name="title" id="title" class="form-control" formControlName="title"
                          [ngClass]="{ 'error' : isInvalid('title') }">></textarea>
              </div>
              <div class="form-group">
                <label for="body">
                  Please leave your review below</label>
                <textarea name="body" id="body" class="form-control" formControlName="body"
                          [ngClass]="{ 'error' : isInvalid('body') }">></textarea>
              </div>
              <div class="form-group">
                <label for="rating">
                  Please provide a rating (5 = best)
                </label>
                <select name="rating" id="rating"
                        class="form-control"
                        formControlName="rating">
                  <option value="1">1 star</option>
                  <option value="2">2 stars</option>
                  <option value="3">3 stars</option>
                  <option value="4">4 stars</option>
                  <option value="5">5 stars</option>
                </select>
              </div>
              <span *ngIf="isIncomplete()">
          You must complete all fields
        </span>
              <button *ngIf="!isIncomplete()" class="btn btn-danger"
                      type="submit"
                      style="margin-top: 20px">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </modal>
  }
</div>
