<div class="container" style="margin-top:70px">
  <div class="row">
    <div class="col-sm-12">
      @for(review of reviews_list;
        track review.title) {
        <div class="card text-white bg-danger mb-3"
             style = "cursor: pointer"
             [routerLink] = "['/reviews', review.id]">
          <div class="card-header">
            {{ review.title }}
          </div>
          <div class="card-body">
            The body text is:
            {{ review.body }} <br>
            The image link is:
            {{ review.filePath}}
          </div>
          <div class="card-footer">
            <span *ngFor="let star of [].constructor(review.rating)">
              <img src="images/star.png" style="width:30px; height:30px">
            </span>
          </div>
        </div>
      }
    </div> <!-- col -->
  </div> <!-- row -->
  <div class="row">
    <div class="col-sm-4">
      <button class="btn btn-danger"
              (click)="previousPage()">Previous</button>
    </div>
    <div class="col-sm-4 text-center align-self-center text-white">
      Showing page {{ this.page }}
      of {{ this.dataService.getLastPageNumber() }}
    </div>
    <div class="col-sm-4 text-end">
      <button class="btn btn-danger"
              (click)="nextPage()">Next</button>
    </div>
  </div>
</div> <!-- container -->
